<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>シェアレク</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <!-- ヘッダー -->
  <body>
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">シェアレク</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><a href="service.html">新規登録</a></li>
          <li class="nav-lists__list"><a href="news.html">ログイン</a></li>
          <li class="nav-lists__list"><a href="contact.html">新規投稿</a></li>
        </ul> 
      </div>
    </header>

    <!--サービスメイン-->
    <div class = "main">
      <div class = "side-bar">
        <div class = "tab-list">
          <li class = "rec-tab">運動</li>
          <li class = "rec-tab">創作</li>
          <li class = "rec-tab">年間行事</li>
          <li class = "rec-tab">脳トレ</li>
          <li class = "rec-tab">その他</li>
        </div>
      </div>
      <div class = top-main>
        <%= image_tag "top-image.jpg", size: '1250x700', class:"top-image" %>
        <div class = "new-rec">
          <div class = "page-title" >
            <div class = "page-title__main">一緒にレクリエーションの可能性を広げよう！</div>
            <div class = "page-title__sub">Let's シェアレク♩</div>
          </div>

          <div class = "service-img">
            <div class = "service-text">
              <img src = "image/design.jpg" class = "images">
              <div class = "text">
                <div class = "rec-title">タイトル</div>
                <div class = "service-sub">
                  レクリエーションの詳細など
                </div>
              </div>
            </div>
            <div class = "service-text">
              <img src = "image/development.jpg" class = "images">
              <div class = "text">
                <div class = "service-main">タイトル</div>
                <div class = "service-sub">
                  レクリエーションの詳細など
                </div>
              </div>  
            </div>   
            <div class = "service-text">
              <img src = "image/marketing.jpg" class = "images">
              <div class = "text">
                <div class = "service-main">タイトル</div>
                <div class = "service-sub">
                  レクリエーションの詳細など
                </div>
              </div>  
            </div>
          </div>
        </div>  
      </div>
       
    </div>   
    
    
    <!-- フッター -->
    <footer class="footer">
      <div class="copyright">Copyright@2023</div>
    </footer>
  </body>
</html> 