.recreation-post{
  height: 100%;
  background-color: #f9eb71;
}

.form-group{
  height: 100%;
  background-color: #fcfcf873;
 
}


.rec-form{
  text-align: center;
  padding-top: 20px;
}

.rec-form-text{
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  
}

.input-form{
  min-width: 500px;
}


.img-upload{
  text-align: center;
  padding-top: 20px;
}


.new-rec-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.new-red-btn {
  width: 100%;
  background: rgb(249, 178, 178);
  border-radius: 5px;
  color: rgb(1, 1, 1);
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

textarea{
  resize: none;
}
 
  
